.container{
    display: flex;
    flex-direction: column;
    background-color: #FAF8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 85%;
    border: solid 1px #00000069;
}

.cabecalhoContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2vw;
    border-bottom: solid 1px #00000069;
    height: 6%;
    width: 100%;
}

.cabecalhoContainer>h3{
    color: #034EA2;
}

.corpoContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

